.image2 {
	/* width: 75%; */
	position: relative;
	right: 54px;
	padding-bottom: 20px;
	/*padding-right: 5px;*/
}

#feedback {
	margin-left:-10%;
}

#submit {
	margin-right:-7.3%;
}

.axis path,
.axis line {
    fill: none;
    stroke: grey;
    stroke-width: 1;
    shape-rendering: crispEdges;
}