{% extends 'dorm/base.html' %}

{% block content %}
<div class="container">
    <div class="page-header">
  <center> <h1><b>{{ dorm.name }}</b></h1>
     <h4></h4></center>
</div>
  <!--<ul>-->
    <!--{% for energy_usage in dorm.energyreading_set.all %}-->
    <!--<li>{{ energy_usage.power }}W at {{ energy_usage.timestamp }}</li>-->
    <!--{% endfor %}-->
  <!--</ul>-->
  <div class="panel panel-primary">

        <div class="panel-heading">
          <b><big><i class="fa fa-line-chart fa-2x fa-fw" aria-hidden="true"></i><center>Energy Dashboard</center></big></b>
        </div>
        <div class="panel-body">
          {% load static %}
          <center>
          <p><img src="{% static "images/montag.png" %}"  alt="plug" align="center"  style="width:700px;height:500px;"/></p>
        </center>
        </div>
          </div>
        </div>
      </div>
    </div>
</div>
{% endblock content %}
