{% extends "dorm/base.html" %}

{% block content %}
<link href="" type="text/css" rel="stylesheet" />
<div class="container">
  <div class="page-header">
  <center> <h1>Current Energy Scores</h1>
     <small>The following energy scores represent the percent reduction in energy usage per floor, normalized by the number of residents and additional rooms within that floor. These values are updated daily.</small></center>
</div>
  <div class="row">


    <div class="col-lg-4">
      <div class="panel panel-warning">
        <div class="panel-heading">
          <b><big>Tips</big></b>
        </div>
        <div class="list-group panel-body">
          <div class="alert alert-success">
            <a href="#" class="alert-link">Here's a tip!</a>
          </div>
        </div>
      </div>
      <div class="panel panel-success">
        <div class="panel-heading">
          <b><big><i class="fa fa-trophy fa-2x fa-fw" aria-hidden="true"></i> Rankings</big></b>
        </div>
        <div class="list-group panel-body">
          {% for dorm in dorm_list %}
          <a href="{% url 'dorms:detail' dorm.id %}" class="list-group-item list-group-item-action">
            <span>{{ dorm.name }}</span>
            <small><em class="pull-right">{{ dorm.director }}</em></small>
          </a>
          {% endfor %}
        </div>
      </div>
    </div>
    <div class="col-lg-8">
      <div class="panel panel-primary">

        <div class="panel-heading">
          <b><big><i class="fa fa-line-chart fa-2x fa-fw" aria-hidden="true"></i> Energy Consumption</big></b>
        </div>
        <div class="panel-body">
          {% load static %}
          <p> <!--><img src="{% static "images/3graphs.png" %}"  alt="plug" align="center"  style="width:700px;height:500px;"/><-->
            <svg width="700" height ="500"> </svg>
            <script src="https://d3js.org/d3.v4.min.js"></script>
            <script src="{% static "js/graph.js" %}"></script>
          </p>
        </div>
      </div>
      <h4>Weekly Energy Consumption</h4>
        {% load static %}
        <p><img src="{% static "images/pie.png" %}"  alt="plug" align="left"  style="width:200px;height:200px;"/></p>
    </div>
  </div>
</div>
{% endblock content %}
