<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <base href="/">

  <title>Turn Down For Watt</title>
</head>
<body>
  {% load bootstrap3 %}
  {% bootstrap_css %}
  {% bootstrap_javascript %}
  {% bootstrap_messages %}


  <nav class="navbar navbar-inverse navbar-sticky-top" role="navigation">
    <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" toggle="collapse" target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/"><b>Turn Down For Watt</b></a>
    </div>


    <ul class="nav navbar-nav navbar-right navbar-collapse">
      <li><a href="{% url 'dorms:list' %}"><i class="fa fa-info-circle fa-fw" aria-hidden="true"></i> Dorms</a></li>
      <li><a href="/tips"><i class="fa fa-info-circle fa-fw" aria-hidden="true"></i> Tips</a></li>
      <li><a href="/about"><i class="fa fa-question-circle fa-fw" aria-hidden="true"></i> About</a></li>
    </ul>
  </nav>



  <div class="container">
      <div class="page-header">
  <center> <h1><b>Conservation Tips</b></h1>
     <h4>Learn about how you can conserve electricity and water!</h4></center>
</div>
    <div class="row" style="padding: 30px; margin-left: 8%;">
	<div class="col-md-3">
        {% load static %}
        <p><img src="{% static "images/plug.png" %}"  alt="plug" align="left"  style="width:200px;height:200px;"/></p>

    </div>
        <div class="col-md-6">

		  <div>

    <div style="display: inline-block; text-align: left;">

        <div style="display: inline-block; text-align: center;"> </div>

            <h3><font size="7">ELECTRICITY TIPS</h3>

        <ul>
        <font size="4">
            <li>Turn off all lights, appliances and electronics not in use.
            <li>Unplug the Power Strip.
            <li>Unplug Large Appliances.
            <li>Turn your air conditioner off.
        </ul>
    </div>
          </div>
        </div>
    </div>

        <div class="row" style="padding: 30px; margin-left: 8%;">
            <div class="col-md-3">

        <p><img src="{% static "images/water.png" %}" alt="water" align="left" style="width:200px;height:200px;"/></p>
            </div>
            <div class="col-md-6">

		  <div>

    <div style="display: inline-block; text-align: left;">

        <div style="display: inline-block; "> </div>

          <h3><font size="7">WATER TIPS</h3>
        <ul>
        <font size="4">
            <li>Wash clothes in cold water.
            <li>Shorter Showers.
            <li>Bring re-usable water bottles.
            <li>Pre-rinse dishes.
        </ul>
  </div>

          </div>
    </div>
        </div>
  </div>
</body>

  </div>

</html>